.navbar-light{
	background-color: #EDE0EA !important;
	color: #4A276C;
	font-weight: 500;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-outline-success{
    color: #4A276C;
    border: solid 1px #4A276C;
}
.btn-outline-success:hover{
    background-color: #4A276C;
    color: #EDE0EA;
    border: 0;
}
body {
	background-color: #4A276C;
}
::placeholder {
	color: #4A276C !important;
}
i.material-icons {
	color: #4A276C !important;
}
.icons{
	height: 30px;
	width: auto;
}

.footer-default{
	color: #EDE0EA;
}

footer i.material-icons {
	color: #EDE0EA !important;
}

a.footer-default:link{
	color: #EDE0EA !important;
}

.info{
	max-width: 300px;
    margin: 20px auto;
	padding: 70px 20px;
	text-align: center !important;
	display: inline-block;
	box-sizing: border-box;
	background-color: #EDE0EA;
}
.text-center {
	text-align: center !important;
}
.section{
	padding: 0px 40px;
	max-width: 90vw;
}
.title {
	text-align: center !important;
	width: 100%;
}
.main-container {
	width: 100%;
}
.search-bar {
	text-align: right;
}
.card-catalog {
	padding: 0px 40px;
	max-width: 90vw;
}
.card {
	padding: auto 10px;
	margin: 20px 10px;
	max-width: 30vw;
}
@media only screen and (max-width: 500px){
	h1 {
	font-size: 10px !important;
	}
}
.wide-container {
    width: 100vw;
}
.page-header {
    width: 100vw;
    background-image: url(assets/img/bg-primary.jpg);
    background-size: cover;
    padding: 25% 25%;
	color: #EDE0EA;
}
.page-header2 {
    width: 100vw;
    background-image: url(assets/img/weedy-grass.jpg);
    background-size: cover;
    padding: 25% 25%;
	color: #EDE0EA;
}
.main-raised {
    margin: 20px;
	background-color: #EDE0EA;
	min-height: 60vh;
	border-radius: 10px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px 20px;
}

#social {
	text-decoration: none;
	list-style-type: none;
	display: inline-flex;
	padding: 5px;
	width: 60vw;
	flex-wrap: wrap;
}
.icons{
	margin: 15px;
}
.copyright {
	display: inline-flex;
	justify-content: center;
}
.card {
	padding:20px;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-deck {
	display: flex;
	flex-wrap: wrap;
	margin: 20px, 20px;
}
.material-icons, .card-title, .card-subtitle {
	text-align: center;
}
.journal-description {
	text-align: center;
	margin: 20px;
}